<h1></h1>

<h2>New Recipe:</h2>

<%= form_with model: @recipe, local: true do |form| %>  

    <%= form.label :name, "Title: " %>
    <%= form.text_field :name %><br><br>

    <%# WORK ON NESTED FORM - CAN MAKE THIS BLOG POST %>

    <%= form.fields_for :ingredients do |inner_form| %>

        <%= inner_form.label :ingredient, "Ingredient: " %>
        <%= inner_form.collection_select :name, @recipe.user.pantry.ingredients, :id, :name, {include_blank: true} %>
        <%= inner_form.number_field :quantity %><br><br>

    <% end %>

    <%= form.label :instructions, "Instructions: " %>
    <%= form.text_area :instructions%><br><br>

    <%= form.submit "Create New Recipe" %>

<% end %>