<h1><%= @recipe.user.name %></h1>

<h2><%= @recipe.name %> | <%= @recipe.portions %> servings | total cost: $<%= @recipe.total_cost %></h2>

<table>
    <tr>
        <th>Ingredient: </th>
        <th>Quantity: </th>
        <th>Cost per unit: </th>
    </tr>
    <% @recipe.ingredients.each do |ingredient| %>
        <tr>
            <td><%= ingredient.name %></td>
            <td>- <%= ingredient.quantity %> <%= ingredient.unit %></td>
            <td>- $<%= ingredient.cost_per_unit %> per <%= ingredient.unit %></td>
        </tr>
    <% end %>
</table>

<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>